<header>
    <nav>
        <a href="/"><h2>DND HELPER</h2></a>
        <ul>
            <li ><a href="/initiativeTracker">Initiative Tracker</a></li>
            <li ><a href="/inventory">Inventory</a></li>
            <li><a href="/chat">Chat</a></li>
        </ul>
    </nav>
</header>