<label>Name</label>
<input type="text" name="name" value="<%= initiativeTracker.name %>">
<label>Initiative (0-40)</label>
<input type="number" name="number" min="1" value="<%= initiativeTracker.number %>">
