<h3>Edit Character</h3>
<form action="/initiativeTracker/<%= initiativeTracker.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/authors/<%= initiativeTracker.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>