<h3>Add Character</h3>
<form action="/initiativeTracker" method="POST">
    <%- include('_form_fields') %>
    <a href="/initiativeTracker">Cancel</a>
    <button type="submit">Create</button>
</form>